.pokemon-table-container{
    position: relative;
    display: flex;
    flex-direction: column;
    
    margin: 0;
    width: auto;
    width: calc(100vw - 480px);
    height: calc(100vh - 100px);
    padding: 20px;

    overflow: scroll;
    overflow-y: scroll;
    overscroll-behavior-y: contain;
    overscroll-behavior-x: contain;
    scroll-behavior: smooth;
/* 
    -ms-overflow-style: none; 
    scrollbar-width: none;  Firefox */

    background-color: white;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
}

.pokemon-table-container .pokemon-table{
    position: relative;

    font-size: 1.4rem;
    line-height: 1.6rem;
}

.pokemon-table tr{
    height: 30px;
    
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
}

.pokemon-table .pokemon-table__header {
    height: 35px;

    font-size: 1.6rem;
    line-height: 1.8rem;
    font-weight: 500;

    text-align: center;
}
.pokemon-table td{
    min-width: 50px;
    text-align: center;

}

.pokemon-table .pokemon-table__row td{
    cursor: pointer;
}

.pokemon-table .pokemon-preview__id {
    font-weight: 500;
}

